*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:radial-gradient(circle at left, #081c5a 0%, #030617 55%), linear-gradient(135deg,#020617,#090b1f);
    color:#fff;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.TelaLogin{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.75);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
    backdrop-filter:blur(10px);
}

.LoginBox{
    width:400px;
    background:#0f172a;
    padding:40px;
    border-radius:25px;
    border:1px solid rgba(255,255,255,.08);
    display:flex;
    flex-direction:column;
    gap:20px;
    box-shadow:0 0 40px rgba(0,0,0,.5);
}

.LoginBox h1{
    text-align:center;
    font-size:2.5rem;
}

.LoginBox p{
    text-align:center;
    color:#cbd5e1;
}

.InputNome{
    height:55px;
    border:none;
    outline:none;
    border-radius:14px;
    padding:0 15px;
    background:#111827;
    color:white;
    font-size:1rem;
}

.BotaoEntrar{
    height:55px;
    border:none;
    border-radius:14px;
    background:#3b82f6;
    color:white;
    font-size:1rem;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.BotaoEntrar:hover{
    background:#2563eb;
}

header{
    width:100%;
    min-height:70px;
    padding:0 60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid rgba(255,255,255,.08);
    background:rgba(0,0,0,.15);
    backdrop-filter:blur(10px);
    gap:20px;
    flex-wrap:wrap;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:2rem;
    font-weight:700;
}

.logo span{
    color:#4da3ff;
}

.HeaderIniciar_Rank{
    display:flex;
    gap:15px;
}

.Rank{
    background:#f6673b;
    border:none;
    color:white;
    padding:14px 28px;
    border-radius:14px;
    font-size:1rem;
    cursor:pointer;
    font-weight:600;
    transition:.3s;    
}

button{
    border:none;
    padding:14px 28px;
    border-radius:14px;
    color:white;
    font-size:1rem;
    font-weight:700;
    cursor:pointer;
}

.Rank{
    background:#f97316;
}

.Iniciar{
    background:#3b82f6;
}

.Container{
    width:100%;
    max-width:1300px;
    margin:auto;
    padding:20px;
    display:grid;
    grid-template-columns:1fr 420px;
    gap:40px;
    flex:1;
}

.Esquerda{
    display:flex;
    justify-content:center;
    align-items:center;
}

.Jogo{
    width:430px;
    height:430px;
    background:#111827;
    border-radius:50%;
    position:relative;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:14px;
    padding:18px;
}

.Cor{
    cursor:pointer;
    transition:.2s;
}

.Verde{
    background:#30da12;
    border-top-left-radius:100%;
}

.Vermelho{
    background:#ff3131;
    border-top-right-radius:100%;
}

.Amarelo{
    background:#f0c106;
    border-bottom-left-radius:100%;
}

.Azul{
    background:#1e6fff;
    border-bottom-right-radius:100%;
}

.Centro{
    position:absolute;
    width:160px;
    height:160px;
    border-radius:50%;
    background:#0f172a;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    justify-content:center;
    align-items:center;
}

.Centro h1{
    font-size:2rem;
    font-weight:700;
}

.Direita{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.Card{
    background:rgba(15,23,42,.75);
    border-radius:22px;
    padding:22px;
}

.Card h2{
    margin-bottom:15px;
}

.Rodadas_Pontos{
    display:grid;
    text-align:center;
    grid-template-columns: 2fr 2fr;
}

.Rodadas{
    color:#4da3ff;
}

.Pontos{
    color:#a855f7;
}

.Rodadas_Pontos span{
    font-size:3rem;
    font-weight:700;
}

.Card2 ul{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.Card2 li{
    display:flex;
    align-items:flex-start;
    gap:14px;
    color:#d1d5db;
    line-height:1.6;
}

.Explicacao{
    min-width:29px;
    height:29px;
    border-radius:50%;
    background:#2563eb;
    display:flex;
    justify-content:center;
    align-items:center;
}

.CardRank{
    display:none;
}

.ListaRank{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:20px;
}

.ListaRank li{
    background:#111827;
    padding:15px;
    border-radius:12px;
}

.TelaDerrota{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.8);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:1000;
    backdrop-filter:blur(8px);
}

.BoxDerrota{
    width:420px;
    background:#0f172a;
    border-radius:25px;
    padding:40px;
    border:1px solid rgba(255,255,255,.08);
    display:flex;
    flex-direction:column;
    gap:25px;
    text-align:center;
    box-shadow:0 0 40px rgba(0,0,0,.5);
}

.BoxDerrota h1{
    font-size:2.5rem;
    color:#ff4d4d;
}

.TextoDerrota{
    color:#cbd5e1;
    font-size:1.1rem;
}

.InfosDerrota{
    display:flex;
    justify-content:space-around;
    gap:20px;
}

.InfosDerrota h3{
    color:#94a3b8;
    margin-bottom:10px;
}

.InfosDerrota span{
    font-size:2.5rem;
    font-weight:700;
}

.RodadaFinal{
    color:#3b82f6;
}

.PontosFinais{
    color:#a855f7;
}

.BotaoReiniciar{
    height:55px;
    border:none;
    border-radius:14px;
    background:#3b82f6;
    color:white;
    font-size:1rem;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.BotaoReiniciar p{
    transform: translateY(-3px);
}

.BotaoReiniciar:hover{
    background:#2563eb;
}


.BotoesDerrota{
    display:flex;
    gap:15px;
}

.BotaoVoltar{
    flex:1;
    height:55px;
    border:none;
    border-radius:14px;
    background:#f97316;
    color:white;
    font-size:1rem;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.BotaoVoltar:hover{
    background:#ea580c;
}

.BotaoReiniciar{
    flex:1;
}

footer{
    border-top:1px solid rgba(255,255,255,.08);
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    color:#bdbdbd;
    background:#050816;
    text-align:center;
    flex-wrap:wrap;
}

@media (max-width: 1100px){

    .Container{
        grid-template-columns:1fr;
        justify-items:center;
    }

    .Direita{
        width:100%;
        max-width:700px;
    }
}

@media (max-width: 800px){

    header{
        padding:20px;
        justify-content:center;
        text-align:center;
    }

    .logo{
        font-size:1.7rem;
    }

    .Jogo{
        width:340px;
        height:340px;
    }

    .Centro{
        width:130px;
        height:130px;
    }

    .Centro h1{
        font-size:1.5rem;
    }

    .Rodadas_Pontos div span{
        font-size:2.2rem;
    }
}

@media (max-width: 500px){

    .Container{
        padding:15px;
    }

    .Jogo{
        width:280px;
        height:280px;
        gap:10px;
        padding:12px;
    }

    .Centro{
        width:105px;
        height:105px;
        border-width:10px;
    }

    .Centro h1{
        font-size:1.2rem;
    }

    .Card{
        padding:18px;
    }

    .BoxDerrota{
        width: 350px;
    }

    .Card h2{
        font-size:1.2rem;
    }

    .Rodadas_Pontos{
        flex-direction:column;
    }

    .Rodadas_Pontos div span{
        font-size:2rem;
    }

    .Iniciar{
        padding:12px 20px;
        font-size:.9rem;
    }
}